<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- userService -->
    <bean id="userService" class="love.tanyiqu.service.UserServiceImpl"/>

    <!-- 自定义的切入类 -->
    <bean id="myPointcut" class="love.tanyiqu.pointcut.MyPointcut"/>

    <!-- 配置aop -->
    <aop:config>
        <aop:aspect ref="myPointcut">
            <aop:pointcut id="pointcut" expression="execution(* love.tanyiqu.service.*.*(..))"/>
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after method="after" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>

</beans>