<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- userService -->
    <bean id="userService" class="love.tanyiqu.service.UserServiceImpl"/>

    <bean id="beforeLog" class="love.tanyiqu.log.BeforeLog"/>
    <bean id="afterLog" class="love.tanyiqu.log.AfterLog"/>

    <!-- 配置aop -->
    <aop:config>
        <!-- 切入点 -->
        <aop:pointcut id="logPoint" expression="execution(* love.tanyiqu.service.*.*(..))"/>

        <!-- 通知 -->
        <aop:advisor advice-ref="beforeLog" pointcut-ref="logPoint"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="logPoint"/>
    </aop:config>

</beans>