<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- bean -->
    <bean id="user1" class="love.tanyiqu.pojo.User">
        <property name="name" value="张三"/>
        <property name="sex" value="男"/>
    </bean>

    <!-- 别名 -->
    <alias name="user1" alias="u1"/>

    <!-- 导入 -->
    <import resource="other.xml"/>


</beans>